/* CSS Document */
/*公共属性
————————————————————————————*/
html {min-width:770px;}
/*页面属性*/
body {margin:0px; padding:0px; border:0px; color:#000; font-size:14px; line-height:160%; text-align:center; background:#6D89DD; font-family:"宋体","新宋体",arial,verdana,sans-serif;}
/*超链接属性*/
a{margin:0px; padding:0px; border:0px; text-decoration:none;}
a:link{color:#E66133;}
a:visited{color:#E66133;}
a:hover{color:#637DBC; text-decoration:underline;}
/*预定义格式属性*/
pre { text-indent:0; background:#DDDDDD; padding:0; margin:0; color:blue;}
/*顶部布局*/
#top {width:770px; margin-right:auto; margin-left:auto; padding:0px; height:12px; background:url(/images/logo.JPG) #fff repeat-x left top; overflow:hidden;}
#top1 {width:770px; margin-right:auto; margin-left:auto; padding:0px; height:98px;}





/*圆角特效*/
.box{background:url(/images/logo.JPG) repeat;}
.tl{background:url(/images/logo.JPG) no-repeat top left;}
.tr{background:url(/images/logo.JPG) no-repeat top  right;}
.bl{background:url(/images/logo.JPG) no-repeat top  bobottom left;}
.br{background:url(/images/logo.JPG) no-repeat top  bobottom  right;}